<!-- <router-outlet /> -->

<div style="padding: 20px">
  <h1>
    Angular Material mat-form-field custom style | Angular Material 18 | MDC
  </h1>
  <h5>1. Simple Outline From Field</h5>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Placeholder" />
  </mat-form-field>

  <hr />

  <h5>2. Mat From Field With Label</h5>

  <mat-form-field appearance="outline">
    <mat-label>Label</mat-label>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>

  <hr />

  <h5>3. Mat From Field With Label Hint & Icon</h5>

  <mat-form-field appearance="outline">
    <mat-label>Label</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <hr />

  <h5>4. Mat From Field With Select</h5>
  <mat-form-field appearance="outline">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option>Food 1</mat-option>
      <mat-option>Food 2</mat-option>
      <mat-option>Food 3</mat-option>
    </mat-select>
  </mat-form-field>

  <hr />
  <h5>5. Mat From Field With Date Picker</h5>
  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <hr />

  <h5>6. Disable MOde</h5>

  <mat-form-field appearance="outline">
    <!-- <mat-label>Fill form field</mat-label> -->
    <input [disabled]="true" matInput placeholder="Placeholder" />
  </mat-form-field>

  <hr />

  <h5>7. APPEREANCE FILL</h5>
  <mat-form-field color="warn" appearance="fill">
    <input matInput placeholder="Placeholder" />
  </mat-form-field>

  <hr />

  <h5>8. APPEREANCE FILL - With Label</h5>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
</div>
